.IconLink {
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  display: inline-block;
  color: #b6a9de;
}

.IconLink:active, .IconLink:focus {
  color: #57446c;
}

@media not all and (hover: none) {
  .IconLink:hover {
    color: #57446c;
  }
}
