.Header {
  position: fixed;
  height: 100px;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ebebff;
  border-bottom: 3px solid #c1c1ff;
  display: flex;
  justify-content: space-between;
}

.Header-left, .Header-right {
  flex: 1 1 0;
  margin: 5px 10px 10px;
}

.Header-left {
  text-align: left;
}

.Header-center {
  text-align: center;
}

.Header-right {
  text-align: right;
}

.Header-title {
  margin: 10px 0 0px 0;
  font-size: 2rem;
  color: #57446c;
  text-transform: uppercase;
}

.Header-title a {
  color: #57446c;
  text-decoration: none;
}

.Header-subtitle {
  margin: 15px 0;
  font-size: 1.25rem;
  color: #b6a9de;
  text-transform: uppercase;
}
