@import url("https://fonts.googleapis.com/css?family=Lato:300");
body {
  background-color: #dedeff;
  color: #57446c;
  font-family: "Lato", sans-serif;
  overflow-y: scroll;
  margin: 0;
}

.subtle-link {
  color: #b6a9de;
  font-weight: 700;
}

.subtle-link.active, .subtle-link:hover, .subtle-link:focus {
  color: #57446c;
}
